* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,
body {
  font-family: "Autour One", system-ui;
  font-style: normal;
  background: url("../img/bguinsu.jpg") center center/cover no-repeat fixed;
  color: #333333a6;
  min-height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.062);
  background-color: rgba(154, 230, 151, 0.829);
  z-index: 50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #eafff3;
  text-shadow: 0 -1px 2px #0b4e06d8, 0 2px 2px #0347188c;
}
nav h2 {
  font-weight: 900;
}
.logo {
  max-height: 5rem;
  margin-left: 1rem;
}
.menu {
  display: flex;
  gap: 10px;
  list-style: none;
  margin-right: 1rem;
  padding: 0;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: #eafff3;
  padding: 5px;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
}
.menu a:hover,
.meni li:hover,
.iconBackMenu:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.3s ease-in-out;
}
.iconMenu {
  margin: 0;
  padding: 0;
  width: 2.6rem;
  margin-right: 10px;
  filter: invert(100%) drop-shadow(1px 1px 5px #01580993);
  display: none;
}
.iconMenu:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease;
  filter: invert(100%) drop-shadow(1px 1px 5px #00b3366b);
}
.iconBackMenu {
  position: absolute;
  margin: 1rem;
  width: 1.9rem;
}
.container-menu {
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 99;
}
menu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.775);
  z-index: 55;
  width: 50vw;
  height: 100vh;
}
menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 3rem;
}
menu a {
  text-decoration: none;
  color: black;
}

/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  color: white;
  margin-top: 5rem;
}

.hero-video {
  width: 100vw;
}

.hero-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content h1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content p {
  padding: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-content a {
  text-decoration: none;
  background-color: hsl(142, 69.2%, 58%);
  color: hsl(226, 100%, 96.7%);
  padding: 10px;
  border-radius: 2px;
}

.kegiatan {
  width: 80vw;
  background-color: rgba(220, 252, 231, 0.3);
  backdrop-filter: blur(5px);
  margin-top: 2rem;
  border-radius: 10px;
}

.kegiatan h2 {
  background-color: hsl(138, 76.5%, 96.7%);
  color: hsl(142, 70.6%, 45.3%);
  width: max-content;
  border-radius: 10px;
  margin-left: 1rem;
  padding: 1rem;
  margin-top: 1rem;
}

.kegiatan-wrapper {
  padding: 2rem;
}

.kegiatan-wrapper h3 {
  background-color: hsl(138, 76.5%, 96.7%);
  color: hsl(142, 70.6%, 45.3%);
  width: max-content;
  border-radius: 10px;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
  max-width: 100%;
}

.kegiatan-wrapper p {
  margin-top: 10px;
  background-color: hsl(138, 76.5%, 96.7%);
  color: hsl(142, 76.2%, 36.3%);
  padding: 1rem;
  border-radius: 5px;
}

.media-kegiatan img,
.media-kegiatan video {
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px hsl(240, 3.7%, 15.9%);
}

.media-kegiatan {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(226, 100%, 96.7%);
  padding: 1rem;
  border-radius: 10px;
}

/* FOOTER */
footer {
  margin-top: 2rem;
  background-color: #7b7c7c86;
  color: #eafff3;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .menu a {
    display: none;
  }
  .hero-content h1 {
    font-size: 1.5rem;
  }
  .hero-content p {
    font-size: 0.8rem;
  }
  .hero-content a {
    font-size: 0.8rem;
    padding: 5px;
  }
  .kegiatan {
    width: 100vw !important;
  }
  .kegiatan-wrapper h3 {
    margin-left: 0;
    margin-right: 0;
  }
  .media-kegiatan img,
  .media-kegiatan video {
    max-width: 100%;
  }
  .iconMenu {
    display: block;
  }
  .kegiatan-wrapper h3 {
    padding: 0.5rem 0.8rem;
  }
}
